<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>сохраняем челиксов</title>
</head>

<style>

    body {
        background-color: #ff0000;
    }
</style>


<body>

<form th:method="PUT" th:action="@{/update?id={id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">меняем имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">меняем фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <input type="submit" value="ну давай обновляй"/>
</form>
</body>
</html>